@model IEnumerable<Trabalho_Final.Models.Reviews>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filme.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TituloReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filme.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TituloReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NStars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdReview }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdReview }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdReview })
        </td>
    </tr>
}

</table>
