@model Trabalho_Final.Models.Filmes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<span class="alert" style="color:red;">
    @(TempData["Error"] ?? string.Empty)
</span><br />
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Companhia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companhia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao) minutes
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/@Model.Trailer?rel=0" style="width:500px; height:300px" frameborder="0" allowfullscreen></iframe>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cartaz)
        </dt>

        <dd>
            <img class="card-img-top" src="~/ImagensCartaz/@Model.Cartaz" style="width:250px; height:400px; padding-bottom:5px;" />
        </dd>


        <div class="container" style="height:600px; overflow-y:scroll;">

            @foreach (var personagem in Model.ListaPersonagens.ToList())
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                        <h4>@personagem.Nome</h4>
                        <img src="/ImagensPersonagens/@personagem.Imagem" style="width:200px; height:200px; object-fit:cover;" data-toggle="modal" data-target="#myModal" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h4>@personagem.Ator.Nome</h4>
                        <img src="/ImagensAtores/@personagem.Ator.Imagem" style="width:200px; height:200px; object-fit:cover;" data-toggle="modal" data-target="#myModal" />
                    </div>
                </div>
                <hr />
            }
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="height:auto; width:max-content;">
                <div class="modal-content">
                    <div class="modal-body">
                        <a id="imgNovaTab" href="" target="_blank">
                            <img class="img-responsive" src="" style="max-height:800px; max-width:1000px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
