@model IEnumerable<Trabalho_Final.Models.Filmes>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>
<span class="alert" style="color:red;" >
    @(TempData["Error"]??string.Empty)
</span><br />
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        
            <div class="col-lg-4 col-md-4 col-sm-6" padding-bottom:20px;">
                <div class="card well" style="width:290px; height:490px; margin-bottom:30px">
                    <a href="/Filmes/Details/@item.IdFilme">
                        <img class="card-img-top" src="~/ImagensCartaz/@item.Cartaz" style="width:250px; height:400px" />
                    </a>

                    <h3 style="color:black">@Html.DisplayFor(modelItem => item.Nome)</h3>
                    <div>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdFilme })
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdFilme })
                        }
                    </div>
                </div>
            </div>
        
         }
    </div>
</div>
