@model Trabalho_Final.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filme.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TituloReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NStars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReview }) |
    @Html.ActionLink("Back to List", "Index")
</p>
